<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Track Meet">
  <meta name="description" content="An app that promotes conscious music listening, utilizing Deezer’s API, that creates a collection for users where they can write notes about music to themselves, keep track of songs they’ve listened to, discover new music and see their own preference metrics.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dl-track-meet.herokuapp.com/">
  <meta property="og:title" content="Track Meet">
  <meta property="og:description" content="An app that promotes conscious music listening, utilizing Deezer’s API, that creates a collection for users where they can write notes about music to themselves, keep track of songs they’ve listened to, discover new music and see their own preference metrics.">
  <meta property="og:image" content="http://i.ibb.co/X3NQjck/trackmeet-search.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://dl-track-meet.herokuapp.com/">
  <meta property="twitter:title" content="Track Meet">
  <meta property="twitter:description" content="An app that promotes conscious music listening, utilizing Deezer’s API, that creates a collection for users where they can write notes about music to themselves, keep track of songs they’ve listened to, discover new music and see their own preference metrics.">
  <meta property="twitter:image" content="http://i.ibb.co/X3NQjck/trackmeet-search.png">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
  <script src="/scripts/config.js" defer></script>
  <script src="/scripts/search-fetch.js" defer></script>
  <script src="/scripts/song-edit.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
  <title><%= title %></title>
</head>