<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artist Show</title>
</head>
<body>
  <h1>This is the Artist Show page</h1>
  <h2><%= artist.name %></h2>
  <% if (artist.songs.length === 0) { %>
    <p>Sorry, seems like this artist has no songs!</p>
  <% } %>
  <% artist.songs.forEach(song => { %>
    <h3><%= song.title %></h3>
    <img src="<%= song.albumArt %>" width="300" />
  <%  }) %>
</body>
</html>