<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artists</title>
</head>
<body>

  <%- include('../../partials/nav') %>

  
  <h1>This is the Artists page</h1>
  <% allArtists.map(artist => { %>
   <a href="/profile/artists/<%= artist._id %>">
    <p><%= artist.name %></p>
  </a>
  <% }) %> 
</body>
</html>