<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: 'Search'}) %>
<body> 

  <%- include('../partials/nav.ejs') %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-1">Search</h1>
      <h4>Start typing in some songs you love!</h4>
      <form style="margin-top: 30px;" class="result-box" action="">
        <input class="results-input" type="text">
        <input class="btn btn-primary" type="submit">
      </form>
        <button id="clear-search" class="btn btn-secondary">Clear Search</button>
    </div>
  </div>

   <div class="collection-link hidden">
    <p>Check out your <a href="profile">collection!</a></p>
   </div>

 <div class="container">
  <div class="row justify-content-md-center search-results">
  </div>
 </div>


</body>
</html>