<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: 'Search'}) %>
<body> 

  <%- include('../partials/nav.ejs') %>

  <h1>Search</h1>

   <form style="margin-top: 30px;" class="result-box" action="">
     <input class="results-input" type="text">
     <input type="submit">
   </form>
   <button id="clear-search">Clear Search</button>
   <div class="collection-link hidden">
    <p>Check out your <a href="profile">collection!</a></p>
   </div>

 <div class="container">
  <div class="row search-results">
  </div>
 </div>


</body>
</html>