<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body> 
  <h1>This is the Search page</h1>

  <form action="/search" method="POST">
    DZ Artist Id: <br><input type="text" name="dzArtistId"><br>
    Title: <br><input type="text" name="title"><br>
    Artist: <br><input type="text" name="artist"><br>
    Album Art: <br><input type="text" name="albumArt"><br>
    Genre: <br><input type="text" name="genre"><br>
   <input type="submit" value="Submit new song">
  </form>
</body>
</html>