.jumbotron {
  background-image: url('../assets/record-collectors.jpeg'); 
  background-size: cover;
  background-position: bottom right;
}

.card-body {
  max-width: 250px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; 
}

.search-hero h1 {
  color: #fafafa
}

.hidden {
  display: none;
}

.blue {
  background-color: blue;
  transition: .2s ease-in; 
}

.collection-link {
  margin-top: 20px; 
}



