@font-face {
  font-family: "Clarendon Regular"; 
  src: url('../fonts/clarendon-regular.otf') format("opentype");
}

h1, h2, h3 {
  font-family: "Clarendon Regular"; 
  text-shadow: 2px 2px black; 
}

.search-description {
  width: 450px; 
  background-color: red; 
  line-height: 27px;
  box-shadow: 8px 8px black; 
}

.jumbotron {
  background-image: url('../assets/record-collectors.jpeg'); 
  background-size: cover;
  background-position: bottom right;
}

.search-hero h1 {
  color: #fafafa
}

.hidden {
  display: none;
}


.collection-link {
  margin-top: 20px; 
}

/* --- RESULT CARD --- */

.result-card {
  position: relative; 
  box-shadow: 8px 8px black;
}

.click-translate {
  animation-name: click; 
  animation-duration: .2s;
}

@keyframes click {
  0% {
    transform: translate(0px, 0px); 
  }
  50% {
    transform: translate(10px, 10px); 
    box-shadow: 0px 0px; 
  }
  100% {
    transform: translate(0px, 0px); 
  }
}

.card-body {
  max-width: 250px;
  border: 1px solid black;
  padding: 20px;
  margin: 10px; 
}

.result-card h3 {
  background-color: red; 
  color: #fafafa; 
  font-size: 20px; 
  padding: 10px; 
}

.artist-name {
  border: 1px solid black;
  padding: 5px;
}

.result-card img {
  border: 1px solid black; 
}

.card-genre {
  position: absolute;
  top: 0px;
  padding: 10px;
  margin: 0px;
  right: 0px;
  background-color: lightblue;
  color: black;
  border: 0px;
}