<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs', { title: 'Search'}) %>
</head>
<body> 
  <h1>This is the Discovery page</h1>
  <h2>Artists</h2>
  <% user.artists.map(artist => { %>
    <a href="/discovery/<%= artist._id %>">
     <p><%= artist.name %></p>
   </a>
   <% }) %> 
</body>
</html>